body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    padding: 0;
    margin: 0
}

.title_post {
    color: darkorange
}

#container {
    width: 100%;
    position: absolute;
    align-content: center;
    justify-content: center
}

.section {
    border: solid 1px lightgray;
    width: 80%;
    text-align: center;
    margin: auto;
    background-color: white
}

.header {
    border: solid 1px lightgrey;
    width: 80%;
    position: relative;
    text-align: center;
    margin: auto;
    -webkit-box-shadow: 0px 24px 61px -24px rgba(122, 122, 122, 1);
    -moz-box-shadow: 0px 24px 61px -24px rgba(122, 122, 122, 1);
    box-shadow: 0px 24px 61px -24px rgba(122, 122, 122, 1);
}

.pr_post {
    color: gray;
    padding: 10px;
}