body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(195, 93, 93);
    padding: 0;
    margin: 0
}

.title_post {
    color: darkorange
}

#container {
    width: 100%;
    position: absolute;
    align-content: center;
    justify-content: center
 
}
.section {
    border: solid 1px lightgray;
    width: 80%;
    text-align: center;
    margin: auto;
}
.header {
    width: 80%;
    position: relative;
    text-align: center;
    margin: auto;
}