body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
    padding: 0;
    margin: 0
}

.title_post {
    color: darkorange
}

#container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center
    
    
}
.section {
    width: 80%;
    position: relative;
    border: solid 3px lightgray;
}
.header {
    position: relative;
}